<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <title>Spring Security Example</title>-->
<!--    <style>-->
<!--        body {background-color: yellow;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Sveiki!</h1>-->

<!--<p>Spauskite <a th:href="@{/hello}">čia</a> norėdami prisijungti/atsijungti.</p>-->
<!--<p>Peržiūrėti parduodamų knygų <a href="/book/all">sąrašą.</a> </p>-->
<!--<p>Testuoti end points naudojant <a href="/swagger-ui.html">Swagger.</a></p>-->

<!--</body>-->
<!--</html>-->